@charset "ISO-8859-1";

.f{
    position:absolute;
    width:170px;
    margin-top:40px;
    margin-left:175px;
}

.navbar{
    margin-top:10px;
    width:100%;
    text-align: center;
    justify-content: center;
    display: flex;
    gap:60px;
    background-color: white;
    
.middle_nav{
    
    img{
        width:40px;
        height:40px;
        margin-left:0;
    }
    .cc{
        font-size: 8px;
        color:rgb(9, 16, 116);
        font-weight:500;
    }


}

    
    
    ul{

        list-style: none;
        display:flex;
        gap:20px;
        li{
            a{
                font-size: 10px;
            }

        }
    }
}
