@charset "ISO-8859-1";

.f{
    position:absolute;
    width:300px;
    margin-top:70px;
    margin-left:310px;
}

.navbar{
    margin-top:10px;
    width:100%;
    text-align: center;
    justify-content: center;
    display: flex;
    gap:60px;
    background-color: white;
    zoom:180%;
    
.middle_nav{
    
    img{
        width:40px;
        height:40px;
        margin-left:0;
    }
    .cc{
        font-size: 8px;
        color:rgb(9, 16, 116);
        font-weight:500;
    }


}

    
    
    ul{

        list-style: none;
        display:flex;
        gap:20px;
        li{
            a{
                font-size: 10px;
            }

        }
    }
}



.cards{
    display:flex;
    gap:10px;
    flex-wrap: wrap;
    justify-content: center;

}

.card {
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgb(59, 112, 131);
    margin-left:0;
    margin-top:30px;
  }
  .card img {
    width: 100%;
    height: auto;
    display: block;
  }
  .card-text {
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
  }
  .card-text a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
  }