<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>CampusConnect</display-name>
  
  <welcome-file-list>
    <welcome-file>home_page_student.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description></description>
    <display-name>D_M_Serv</display-name>
    <servlet-name>D_M_Serv</servlet-name>
    <servlet-class>D_M_Serv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>D_M_Serv</servlet-name>
    <url-pattern>/D_M_Serv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUploadServlet</display-name>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/FileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileDownloadServlet</display-name>
    <servlet-name>FileDownloadServlet</servlet-name>
    <servlet-class>FileDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileDownloadServlet</servlet-name>
    <url-pattern>/FileDownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Score_board</display-name>
    <servlet-name>Score_board</servlet-name>
    <servlet-class>Score_board</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Score_board</servlet-name>
    <url-pattern>/Score_board</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>roll_ex</display-name>
    <servlet-name>roll_ex</servlet-name>
    <servlet-class>roll_ex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>roll_ex</servlet-name>
    <url-pattern>/roll_ex</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>marks_sub</display-name>
    <servlet-name>marks_sub</servlet-name>
    <servlet-class>marks_sub</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>marks_sub</servlet-name>
    <url-pattern>/marks_sub</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Edit_marks</display-name>
    <servlet-name>Edit_marks</servlet-name>
    <servlet-class>Edit_marks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit_marks</servlet-name>
    <url-pattern>/Edit_marks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Check_for_column_availability</display-name>
    <servlet-name>Check_for_column_availability</servlet-name>
    <servlet-class>Check_for_column_availability</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Check_for_column_availability</servlet-name>
    <url-pattern>/Check_for_column_availability</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSubjectsServlet</display-name>
    <servlet-name>AddSubjectsServlet</servlet-name>
    <servlet-class>test.AddSubjectsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSubjectsServlet</servlet-name>
    <url-pattern>/AddSubjectsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>add_subjects</display-name>
    <servlet-name>add_subjects</servlet-name>
    <servlet-class>test.add_subjects</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add_subjects</servlet-name>
    <url-pattern>/add_subjects</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>add_regulation</display-name>
    <servlet-name>add_regulation</servlet-name>
    <servlet-class>test.add_regulation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add_regulation</servlet-name>
    <url-pattern>/add_regulation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Get_subjects_regulation</display-name>
    <servlet-name>Get_subjects_regulation</servlet-name>
    <servlet-class>test.Get_subjects_regulation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Get_subjects_regulation</servlet-name>
    <url-pattern>/Get_subjects_regulation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>add_student</display-name>
    <servlet-name>add_student</servlet-name>
    <servlet-class>test.add_student</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add_student</servlet-name>
    <url-pattern>/add_student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>add_department</display-name>
    <servlet-name>add_department</servlet-name>
    <servlet-class>test.add_department</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add_department</servlet-name>
    <url-pattern>/add_department</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>display_marks</display-name>
    <servlet-name>display_marks</servlet-name>
    <servlet-class>test.display_marks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>display_marks</servlet-name>
    <url-pattern>/display_marks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>material_list</display-name>
    <servlet-name>material_list</servlet-name>
    <servlet-class>material_list</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>material_list</servlet-name>
    <url-pattern>/material_list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admin_registration</display-name>
    <servlet-name>admin_registration</servlet-name>
    <servlet-class>admin_registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_registration</servlet-name>
    <url-pattern>/admin_registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admin_login</display-name>
    <servlet-name>admin_login</servlet-name>
    <servlet-class>admin_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_login</servlet-name>
    <url-pattern>/admin_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>feed</display-name>
    <servlet-name>feed</servlet-name>
    <servlet-class>test.feed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>feed</servlet-name>
    <url-pattern>/feed</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>get_faculty</display-name>
    <servlet-name>get_faculty</servlet-name>
    <servlet-class>get_faculty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>get_faculty</servlet-name>
    <url-pattern>/get_faculty</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>display_faculty_feedback</display-name>
    <servlet-name>display_faculty_feedback</servlet-name>
    <servlet-class>display_faculty_feedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>display_faculty_feedback</servlet-name>
    <url-pattern>/display_faculty_feedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>display_delay_report</display-name>
    <servlet-name>display_delay_report</servlet-name>
    <servlet-class>display_delay_report</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>display_delay_report</servlet-name>
    <url-pattern>/display_delay_report</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>complaint</display-name>
    <servlet-name>complaint</servlet-name>
    <servlet-class>complaint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>complaint</servlet-name>
    <url-pattern>/complaint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>show_complaint</display-name>
    <servlet-name>show_complaint</servlet-name>
    <servlet-class>show_complaint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>show_complaint</servlet-name>
    <url-pattern>/show_complaint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactServlet</display-name>
    <servlet-name>ContactServlet</servlet-name>
    <servlet-class>ContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactServlet</servlet-name>
    <url-pattern>/ContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TwilioServlet</servlet-name>
    <servlet-class>com.example.TwilioServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>TwilioServlet</servlet-name>
    <url-pattern>/twilio/*</url-pattern>
</servlet-mapping>
</web-app>